name: Laravel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['12', '14']
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Composer Dependencies
      run: composer update --ignore-platform-reqs && composer install --ignore-platform-reqs --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Node Dependencies
      run: npm install
    - name: Compile code
      run: npm run proudction

    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        service mysqld start
        mysqld --initialize-insecure --user=mysql
        service mysqld restart
        mysql -u root --skip-password -e "ALTER USER 'root'@'localhost' IDENTIFIED BY 'root';"
    - name: Generate test data
      run: php artisan blog:install
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: mysql
        DB_HOST: 127.0.0.1
        DB_PORT: 3306
        DB_DATABASE: la_vel
        DB_USERNAME: root
        DB_PASSWORD: 'root'
      run: vendor/bin/phpunit
